<h1 class="text-white">About Practicer</h1>
<p class="text-white">
  Practicer is a music practice session creation and
  tracking app. Users create schedules of exercises to practice,
  then can launch a practice session to initiate stat tracking.
  Practicer keeps track of your BPM progression, so you can track your improvement
  visually with both tables and line graphs.
</p>
<h1 class="text-white">How to Use Practicer</h1>
<h4 class="text-white">Creating a Practice Session</h4>
<p class="text-white">
  Under the practice sessions view, you can create a new
  practice schedule, which you can then fill with individual exercises.
  When creating an exercise, you assign it an initial BPM value (the amount
  of beats on a metronome there would be in a minute of practicing), and how
  many seconds you'd like to do the exercise. Individual exercises can be assigned
  to multiple practice sessions, and will maintain the same stat tracking for both.
</p>
<h4 class="text-white">During Practice</h4>
<p class="text-white">
  You can click the "Practice" button in the practice sessions view to initiate
  practice. While here, you can either click "Nailed It!" or "No Luck!". Nailed It
  will log that you completed the exercise and increase the BPM by one for the next
  time you do that exercise. No Luck will also log that you've completed it, but will
  decrease the BPM by 10%. Make sure you click based on how cleanly you play a
  given exercise.
</p>
<h4 class="text-white">Stat Tracking</h4>
<p class="text-white">
  Clicking the "Details" button for an exercise on the Practice Session or
  Exercise views will show you a stat tracking page. On initial load, a
  table showing the date, time, and BPM of each time you've completed this
  exercise will be shown, and a button is included that will draw a chart of 
  your progress.
</p>