/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.btn-crimson {
  background-color: #941305;
  color: white;
}