<div class="row h-100">
  <div class="text-white col-lg-6 col-12 mx-auto">
    <h1>Practicer</h1>
    <p class="d-none d-lg-block">
      Practicer is a utility to help musicians focus their practice and improve faster.
      It can be used to create practice schedules, and individual exercises
      to fill those schedules with. During practice, you can use it to keep track
      of how cleanly you're playing, and Practicer will automatically keep track
      of how you're improving. Practice doesn't make perfect - perfect practice does,
      and Practicer is the web app to help get you there.
    </p>
  </div>
  <div class="text-white col-lg-6 col-12 mx-auto">
    <app-signup></app-signup>
  </div>
</div>