<div class="row">
  <div class="col-md-6 mb-4">
  <h1 class="text-white">BPM Progression</h1>
    <table class="table table-responsive table-condensed">
      <tr>
        <th class="text-white" *ngFor="let label of lineChartLabels">{{label | date: 'short'}}</th>
      </tr>
      <tr class="my-3" *ngFor="let d of lineChartData">
        <td class="text-white" *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button class="btn btn-crimson" (click)="randomize()">Show Chart</button>
  </div>
  <div *ngIf="drawChart" class="col-md-6">
      <h1 class="text-white">BPM Chart</h1>
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="emptyArray"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
</div>