<!-- <h1 class="text-white"> {{ items.title}} </h1>
<div class="row pt-3">
  <div class="col-lg-7 col-12">
    <h2 class="text-white">Title</h2>
  </div>
  <div class="col-lg-1 col-3">
    <h2 class="text-white">BPM</h2>
  </div>
  <div class="col-lg-1 col-3">
    <h2 class="text-white">Time</h2>
  </div>
</div>
<div class="row pt-3" *ngFor="let item of items.items">
  <div class="col-lg-7 col-12">
    <h3 class="text-white">{{ item.title }}</h3>
  </div>
  <div class="col-lg-1 col-3">
    <h3 class="text-white">{{ item.bpm }}</h3>
  </div>
  <div class="col-lg-1 col-3">
    <h3 class="text-white">{{ item.time }}</h3>
  </div>
  <div class="col-lg-3 col-6">
    <div class="btn-group">
      <button class='btn btn-crimson' (click)="statTrack(item._id, 1, item.bpm)">Nailed it!</button>
      <button class='btn btn-crimson' (click)="statTrack(item._id, 0, item.bpm)">No luck!</button>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col">
    <h1 class="text-white">Practice Exercises</h1>
    <table class="table mt-3">
      <thead>
        <tr>
          <th class="text-white w-60">Title</th>
          <th class="text-white w-10">Time</th>
          <th class="text-white w-10">BPM</th>
          <th class="text-white w-20">Links</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items.items">
          <th class="text-white align-middle" scope=row>{{ item.title }}</th>
          <td class="text-white align-middle"> {{ item.time }} </td>
          <td class="text-white align-middle"> {{ item.bpm }} </td>
          <td class="text-white align-middle">
            <div class="row d-lg-none d-block">
              <div class="btn-group-vertical">
                <button class='btn btn-crimson' (click)="statTrack(item._id, 1, item.bpm)">Nailed it!</button>
                <button class='btn btn-crimson' (click)="statTrack(item._id, 0, item.bpm)">No luck!</button>
              </div>
            </div>
            <div class="row d-none d-lg-block">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button class='btn btn-crimson' (click)="statTrack(item._id, 1, item.bpm)">Nailed it!</button>
                  <button class='btn btn-crimson' (click)="statTrack(item._id, 0, item.bpm)">No luck!</button>
                </div>
              </div>
            </div>
          </td>    
        </tr>
      </tbody>
    </table>
    <a class="btn btn-crimson mt-4" [routerLink]="['/lists']">Done</a>
  </div>
</div>